* {
  box-sizing: border-box;
}

body {
  font-family:'Roboto';
  font-size: 0.5em;
  margin: 0;
  background-color: white;
}

nav{
  background-color: #007AFF;
  position: fixed;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: none;
}

.status-bar{
  background-image: url("images/status-barx2.6.png");
  width: 100%;
}

h1{
  font-size:6em;
  margin-top: 60px;
  color: white;
  text-align: center;
}

.arrow-left{
  float:left;
  box-sizing: border-box;
  padding: 60px 0 0 30px;
}

/**.container2{
  box-sizing: border-box;
  margin-top: 100px;
  width: 100%;
  height: 300px;
  background-color: lavender;
}**/

.direction-box1{
  display: inline-block;
  border-radius:20px;
  width: 700px;
  height: 80px;
  margin-left: 120px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 20px 20px 10px 30px;
  background-color: white;
  border: 1.5px solid grey;
  clear: both;
}

span.f{
  font-weight: 500;
  font-size: 4em;
  color: grey;
  /**text-align: left;**/
}

.direction-box2{
  display: inline-block;
  border-radius:20px;
  width: 700px;
  height: 80px;
  margin-left: 120px;
  padding: 20px 20px 10px 30px;
  border: none;
  background-color: white;
  border: 1.5px solid grey;
}
span.g{
  font-weight: 800;
  font-size: 4em;
  color:black;
  /**text-align: left;**/
}

.location-icon{
  width:100px;
  height: 60px;
  margin-top:100px;
  margin-left: 50px;
  padding: 50px 0 0 20px;
  clear: both;
}

/**.change-icon{
padding: 50px 20px 0 0;
clear: both;
}**/

.map{
  margin-top: 30px;
  background-image: url("images/map.png");
  width: 100%;
  height:700px;
}

.container{
  background-color:white;
  width: 100%;
  margin: 0px auto;
}

/**.location{
  display: block;
  box-sizing: border-box;
  background-color: orange;
  width: 100%;
}**/

span.a{
  display: inline-block;
  width: 130px;
  padding: 30px 20px 10px 30px;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 6em;
  /**text-align: left;**/
}
span.b{
  display: inline-block;
  width: 350px;
  /**padding: 20px 20px 10px 30px;**/
  /**background-color: White;**/
  font-weight: 800;
  font-size: 4em;
}
span.c{
  display: inline-block;
  width: 300px;
  /**padding: 20px 20px 10px 30px;**/
  /**background-color: white;**/
  font-weight: 500;
  font-size: 4em;
  /**padding:0 0 100px 150px;**/
  /**text-align: left;**/
}
span.d{
  display: inline-block;
  width: 110px;
  /**height: 100px;**/
  padding: 20px 20px 10px 50px;
  background-color: white;
  font-weight: bold;
  font-size: 6em;
  /**padding:0 0 100px 150px;**/
  /**text-align: left;**/
}
span.e{
  display: inline-block;
  width: 40px;
  padding: 20px 30px 10px 0;
  /**background-color: white;**/
  font-weight: 600;
  font-size: 3em;
  /**padding:0 0 100px 150px;**/
  /**text-align: left;**/
}

.content{
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  float: left;
  width: 100%;
  height: 120px;
}
