* {
  box-sizing: border-box;
}

body {
  font-family:'Roboto';
  font-size: 0.5em;
  background-color: white;
}

.wrapper{
  width: 375px;
  margin: auto;
  height:667px;
  overflow-y:scroll;
}

nav{
  background-color: #007AFF;
  width:375px;
  height: 80px;
  position: fixed;
  top: 0;
}

.status-bar{
  overflow:hidden;
  background-color: #007AFF;
  background-image: url("images/status-bar.png");
  width: 375px;
}

nav.content1{
  width: 375px;
  float: left;
}

.content1 h1{
  font-size:2em;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.arrow-left{
  float:left;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px 0 0 30px;
  color: white;
}

.origin-box {
  background: white;
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 80px;
}

.origin-box label {
  display: inline-block;
  width: 250px;
  height: 35px;
  margin-top: 1px;
}

.origin-box form i {
  display: inline-block;
  margin-left: -40px;
  padding: 12px 0 0 10px;
  color: #007AFF;
}

.origin-box input {
  border-radius:10px;
  width: 250px;
  height: 35px;
  margin-left: 10px;
  margin-top: 12px;
  padding: 2px 0 0 10px;
  background-color: white;
  border: 1.5px solid grey;
  font-weight: 200;
  font-size: 2em;
  color: #808080;
}

.destination {
  background: white;
  text-align: center;
  width: 375px;
  height: 50px;
}

.destination label {
  display: inline-block;
  width: 250px;
  height: 35px;
  margin-bottom: 10px;
  margin-top: -10px;
  margin-left: -38px;
}

.destination input {
  display: inline-block;
  border-radius:10px;
  width: 250px;
  height: 35px;
  margin-left: 10px;
  margin-top: 12px;
  padding: 2px 0 0 10px;
  background-color: white;
  border: 1.5px solid grey;
  font-weight: 200;
  font-size: 2em;
  color: black;
}

.destination form i {
  display: inline-block;
  margin-left: 275px;
  /**padding: -500px 0 -100px 10px;**/
  color: #007AFF;
}

.map{
  background-image:url("images/map3.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:250px;
}

li.a{
  display: inline-block;
  width: 15%;
  padding: 5px 2px 5px 20px;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 2em;
}

li.reroute{
  display: inline-block;
  border-radius: 15px;
  width: 15%;
  padding: 5px 2px 5px 20px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 2em;
  background-color:#1a75ff;
}

li.outofservice{
  display: inline-block;
  border-radius: 15px;
  width: 15%;
  padding: 5px 2px 5px 20px;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 2em;
  background-color: #ff1a1a;
  color: #ffffff;
}

li.b{
  display: inline-block;
  width: 40%;
  font-weight: bold;
  font-size: 1.7em;
  padding-left: 10px;
}

li.c{
  display: inline-block;
  width: 15%;
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 10px;
  text-align: left;
  color: #484848;
}

li.d{
  display: inline-block;
  width: 15%;
  padding: 10px 5px 10px 20px;
  font-weight: bold;
  font-size: 2.5em;
}

li.change{
  display: inline-block;
  width: 20%;
  padding: 20px 5px 0 20px;
  color:#1a75ff;
  font-weight: bold;
  font-size: 1.7em;
}

li.alert{
  display: inline-block;
  width: 17%;
  padding: 6px 0 0 20px;
  color:#ff1a1a;
  font-weight: bold;
  font-size: 1.7em;
}

li.e{
  display: inline-block;
  width: 5%;
  padding: 10px 0 5px 0;
  font-weight: 500;
  font-size: 1.5em;
}

.content{
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  float: left;
  width: 375px;
  height: 50px;
}

.bus-schedule{
  box-sizing: border-box;
  width:100%;
}
